@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
   font-family: 'Outfit', sans-serif;
   background-color:  hsl(212, 45%, 89%);


}
.container{
    max-width: 360px;
    margin:3rem auto;
    

}
.card img{
    width: 20rem;
    padding: 10px;
    border: 10px;
    border-radius: 2em;
    align-items: center;
    padding-left: 18px;
    padding-top: 1rem;
    

}
.card{
    background-color:  hsl(0, 0%, 100%);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px hsl(220, 15%, 55%);
}
.card h2{
    padding: 1.5rem;
    margin: 0.2rem;
    text-align: center;
}
.card p{
    margin: 0.5rem;
    padding-bottom: 2.4rem;
    padding-left: 1rem ;
    padding-right: 1rem;
    text-align: center;
    color: hsl(220, 15%, 55%);

}